# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore SQLite database (optional, if it's local test DB)
*.db

# Ignore system files
.DS_Store
Thumbs.db
